{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"],
        "alias": {
          "@types": "./src/types",
          "@api": "./src/api",
          "@components": "./src/components",
          "@hooks": "./src/hooks",
          "@config": "./src/config",
          "@i18n": "./src/i18n",
          "@models": "./src/models",
          "@actions": "./src/models/actions",
          "@res": "./src/res",
          "@utils": "./src/utils"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
